.login-logo a {
  color: orangered !important;
}

.login-logo img {
  display: block;
  margin: auto;
  max-width: 30% !important;
}

button {
  width: auto !important;
}

.close:hover {
  background-color: transparent !important;
}

#tableFilter .select2 {
  width: 100% !important;
}

#tableFilter .select2 .select2-selection {
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #be9653;
}

.navbar {
  background-color: #dc3545 !important;
}

.main-sidebar .brand-link {
  background: #dc3545 !important;
}

.main-sidebar .sidebar .nav-sidebar .nav-item .nav-link.active {
  background: #dc3545 !important;
  color: #ffffff !important;
}

.main-sidebar .sidebar .nav-sidebar .menu-open > a {
  background: #be9653 !important;
}

/*btn theme*/

.btn-theme {
  color: #ffffff;
  background-color: tomato;
  border-color: #dc3545;
  box-shadow: none;
}

.btn-theme:hover {
  color: #ffffff;
  background-color: orangered;
  border-color: #dc3545;
}

.btn-theme:focus,
.btn-theme .focus {
  color: #ffffff;
  background-color: #dc3545;
  border-color: darkred;
  box-shadow: none, 0 0 0 0 #dc3545;
}

.btn-theme:disabled,
.btn-theme .disabled {
  color: #ffffff;
  background-color: tomato;
  border-color: orangered;
}

.btn-theme:not(:disabled):not(.disabled):active,
.btn-theme .show > .btn-theme.dropdown-toggle {
  color: #ffffff;
  background-color: tomato;
  border-color: #dc3545;
}

.btn-theme:not(:disabled):not(.disabled):active:focus,
.btn-theme .show > .btn-theme.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 #dc3545;
}

#main_content .card {
  margin-bottom: 0px;
}

#main_content .card .card-header img {
  vertical-align: top;
  width: 30px;
}

#main_content .card .card-body .card {
  box-shadow: none;
}

#main_content .card .card-body .card > * input {
  border: 1px solid #be9653;
  height: calc(2rem + 1px);
}

#main_content .card .card-body .card > * select {
  border: 1px solid #be9653;
  height: calc(2rem + 1px);
}

#main_content .card .card-body .card > * select > option {
  color: #ffffff;
  background-color: #be9653;
}

#main_content .card .card-body .card img {
  width: 28px;
}

#main_content .card .card-body .card .input-group-text {
  padding: 0rem 1rem;
  color: #ffffff;
  background-color: #be9653;
  border: 1px solid #be9653;
}

#main_content .card .card-body .card label {
  margin: 0px;
}

#main_content .card .card-body .card .btn {
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
}

#main_content .card .card-body table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #6c757d linear-gradient(180deg, #828a91, #6c757d) repeat-x !important;
}

#main_content .card .card-body .table td,
#main_content .card .card-body .table th {
  padding: 0.4rem !important;
}

#main_content .card .card-body .actions img {
  width: 30px;
}

#main_content #calendar-div {
  background-color: transparent !important;
}

#main_content #calendar-div > div {
  border: none;
  padding: 0px;
}

#main_content .datepicker {
  padding: 0px;
  border: 0px;
  border-radius: 0px 5px 5px 0px;
}

#main_content .datepicker .input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #be9653;
  height: calc(1.9rem + 1px) !important;
  padding: 12px 10px 10px 35px !important;
}

#main_content .datepicker svg {
  top: 7px !important;
}

