.login-logo a { color: orangered!important; }
.login-logo img { display: block; margin: auto; max-width: 30%!important; }

/*btn theme*/
.btn-theme {
    color: #ffffff;
    background-color: tomato;
    border-color: #dc3545;
    box-shadow: none;
}

.btn-theme:hover {
    color: #ffffff;
    background-color: orangered;
    border-color: #dc3545;
}

.btn-theme:focus, .btn-theme.focus {
    color: #ffffff;
    background-color: #dc3545;
    border-color: darkred;
    box-shadow: none, 0 0 0 0 #dc3545;
}

.btn-theme.disabled, .btn-theme:disabled {
    color: #ffffff;
    background-color: tomato;
    border-color: orangered;
}

.btn-theme:not(:disabled):not(.disabled):active, .btn-theme:not(:disabled):not(.disabled).active,
.show > .btn-theme.dropdown-toggle {
    color: #ffffff;
    background-color: tomato;
    border-color: #dc3545;
}

.btn-theme:not(:disabled):not(.disabled):active:focus, .btn-theme:not(:disabled):not(.disabled).active:focus,
.show > .btn-theme.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #dc3545;
}