.login-logo {
    a {
        color: orangered!important;
    }
    img {
        display: block; margin: auto; max-width: 30%!important;
    }
}

button {
    width: auto!important;
}

.close:hover {
    background-color: transparent!important;
}

$color1: #ffffff;
$color2: #dc3545;
$color3: #be9653;
$color4: tomato;

$theme-color: $color1;
$theme-bg-color: $color2;

$theme-filter-color: $color1;
$theme-filter-bg-color: $color3;

$btn-color: #ffffff;
$btn-bg-color: tomato;
$btn-border-color: #dc3545;

$btn-hover-color: #ffffff;
$btn-hover-bg-color: orangered;
$btn-hover-border-color: #dc3545;

$btn-focus-color: #ffffff;
$btn-focus-bg-color: #dc3545;
$btn-focus-border-color: darkred;


.navbar {
    background-color: $theme-bg-color!important;
}

.main-sidebar {
    .brand-link {
        background: $theme-bg-color!important;
    }
    .sidebar {
        .nav-sidebar {
            .nav-item {
                .nav-link {
                    &.active {
                        background: $theme-bg-color!important;
                        color: $theme-color!important;
                    }
                }
            }
            .menu-open {
                & > a {
                    background: $theme-filter-bg-color!important;
                }
            }
        }
    }
}


/*btn theme*/
.btn-theme {
    color: $btn-color;
    background-color: $btn-bg-color;
    border-color: $btn-border-color;
    box-shadow: none;

    &:hover {
        color: $btn-hover-color;
        background-color: $btn-hover-bg-color;
        border-color: $btn-hover-border-color ;
    }

    &:focus, .focus {
        color: $btn-focus-color;
        background-color: $btn-focus-bg-color;
        border-color: $btn-focus-border-color;
        box-shadow: none, 0 0 0 0 #dc3545;
    }

    &:disabled, .disabled {
        color: $btn-color;
        background-color: $btn-bg-color;
        border-color: $btn-hover-bg-color;
    }

    &:not(:disabled):not(.disabled):active,
    .show > .btn-theme.dropdown-toggle {
        color: #ffffff;
        background-color: tomato;
        border-color: #dc3545;
    }

    &:not(:disabled):not(.disabled):active:focus,
    .show > .btn-theme.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 #dc3545;
    }
}

#main_content {
    .card {
        margin-bottom: 0px;
        .card-header {
            img {
                vertical-align: top;
                width: 30px;
            }
        }

        .card-body {
            .card {
                box-shadow: none;

                > * input {
                    border: 1px solid rgba($theme-filter-bg-color, 95);
                    height: calc(2rem + 1px);
                }

                > * select {
                    border: 1px solid rgba($theme-filter-bg-color, 95);
                    height: calc(2rem + 1px);
                    > option {
                        //font-size: .8rem;
                        color: $theme-filter-color;
                        background-color: $theme-filter-bg-color;
                    }
                }

                img {
                    width: 28px;
                }

                .input-group-text {
                    padding: 0rem 1rem;
                    color: $theme-filter-color;
                    background-color: rgba($theme-filter-bg-color, 80);
                    border: 1px solid rgba($theme-filter-bg-color, 95);
                }

                label {
                    margin: 0px;
                }

                .btn {
                    font-size: 1rem;
                    padding: .1rem .4rem;
                }
            }

            table {
                thead {
                    tr {
                        th {
                            position: sticky;
                            top: -1px;
                            background: #6c757d linear-gradient(180deg,#828a91,#6c757d) repeat-x!important;
                        }
                    }
                }
            }

            .table {
                td, th {
                    padding: .4rem!important;
                }
            }

            .actions {
                img {
                    width: 30px;
                }
            }

            .nav-link {
                color: $color3;
            }
            a {
                color: $color3;
                &.active {
                    color: $color4;
                    font-weight: bold;
                }
            }
        }
    }

    #calendar-div {
        background-color: transparent!important;

        > div {
            border: none;
            padding: 0px;
        }
    }
    .datepicker {
        padding: 0px;
        border: 0px;
        border-radius: 0px 5px 5px 0px;

        .input {
            border-radius: 0px 5px 5px 0px;
            border: 1px solid rgba($theme-filter-bg-color, 95);
            height: calc(1.9rem + 1px) !important;
            padding: 12px 10px 10px 35px !important;
        }

        svg {
            top: 7px !important;
        }
    }

    label {
        margin: 0px!important;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }
}

#form{
    .select2-container{
        width: 100%!important;
    }
}

#tableFilter{
    .select2 {
        width: 100%!important;
        .select2-selection {
            border-radius: 0px 4px 4px 0px;
            border: 1px solid $color3;
        }
    }
}
